<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src = static/script.js></script>
</head>

<body>

  <div class="container">
    <header>
      <nav>
        <ul class="nav-bar">
          <li><a class="nav-link active" href="home">Home</a></li>
          <li><a class="nav-link" href="faq">FAQ</a></li>
          <li><a class="nav-link" href="projects">Projects</a></li>
        </ul>

        <div class="nav-display">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>
    </header>
    <main>
      <div id="home">
        <div class="filter"></div>
        <section class="intro">
          <h3>About Me
            <hr>
          </h3>
          <p>Hi, my name is Tom Schlessinger.</p>
          <p>I am a software engineer from New York.</p>
          <p></p>

          <div class="social-media">
            <a href="https://github.com/TomSchlessinger" target="_blank"><i class='fab fa-github'></i></a>
            <a href="https://www.linkedin.com/in/tom-s-65a097234/" target="_blank"><i class='fab fa-linkedin-in'></i></a>
            <a href="mailto: tomsch2007@gmail.com" target="_blank"><i class='fa fa-envelope'></i></a>
          </div>
          <div class="spacer"></div>
          <h3>
            <hr>  
          </h3>
          
          <p><a class="site-link" href="faq.html">Learn more about me</a></p>
          <p><a class="site-link" href="projects.html">See my projects</a></p>          
        </section>
      </div>

      <div id="contact">
        <h3>Contact me
          <hr>
        </h3>
        <div class="social-media">
          <a href="https://github.com/TomSchlessinger" target="_blank"><i class='fab fa-github'></i></a>
          <a href="https://www.linkedin.com/in/tom-s-65a097234/" target="_blank"><i class='fab fa-linkedin-in'></i></a>
          <a href="mailto: tomsch2007@gmail.com" target="_blank"><i class='fa fa-envelope'></i></a>
        </div>
      </div>

    </main>

  </div>
</body>

</html>

<!--
DISCLAIMER:
I did not code this entire website, I just modified this template: https://replit.com/@templates/Portfolio-Site-Template#style.css
-->