<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src=static/script.js></script>
</head>

<body>

  <div class="container">
    <header>
      <nav>
        <ul class="nav-bar">
          <li><a class="nav-link" href="home">Home</a></li>
          <li><a class="nav-link" href="faq">FAQ</a></li>
          <li><a class="nav-link active" href="projects">Projects</a></li>
        </ul>

        <div class="nav-display">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>
    </header>
    <main>
      <div id="projects">
        <h3>My Projects
          <hr>
        </h3>
        <div class="work-box">
          <div class="work">
            <div class="card">
              <img class="work-img" src="static/assets/mod.png">
              <a style="text-decoration:none;" href="https://github.com/TomSchlessinger/fabric-example-mod-1.18.2" target="_blank">
                <div class="work-content">My Minecraft Mod</div>
                <div class="work-content2">This mod adds many items and bosses into minecraft</div>
              </a>
            </div>
            <div class="card">
              <img class="work-img" src="static/assets/yt.png">
              <a style="text-decoration:none;" href="https://github.com/TomSchlessinger/flaskthing" target="_blank">
                <div class="work-content">My Youtube Algorithm</div>
                <div class="work-content2">I improved youtube's recommendation algorithm</div>
              </a>
            </div>
            <div class="card">
              <img class="work-img" src="static/assets/me.png">
              <a style="text-decoration:none;" href="index" target="_blank">
                <div class="work-content">This Website</div>
                <div class="work-content2">This website is for saying who I am and what I've done</div>
              </a>
            </div>
            <div class="card">
              <img class="work-img" src="static/assets/lang.png">
              <a style="text-decoration:none;" href="https://replit.com/@tomschlessinger/NBCSHSTPL" target="_blank">
                <div class="work-content">My Coding Language</div>
                <div class="work-content2">I made an esoteric programming language to prove a point</div>
              </a>
            </div>
            <div class="card">
              <img class="work-img" src="static/assets/arrow.png">
              <a style="text-decoration:none;" href="https://crypto-island.tomschlessinger.repl.co/" target="_blank">
                <div class="work-content">My Crypto Simulator</div>
                <div class="work-content2">I made a website with a friend to simulate Crypto</div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div id="contact">
        <h3>Contact me
          <hr>
        </h3>
        <div class="social-media">
          <a href="https://github.com/TomSchlessinger" target="_blank"><i class='fab fa-github'></i></a>
          <a href="https://www.linkedin.com/in/tom-s-65a097234/" target="_blank"><i class='fab fa-linkedin-in'></i></a>
          <a href="mailto: tomsch2007@gmail.com" target="_blank"><i class='fa fa-envelope'></i></a>
        </div>
      </div>

    </main>

  </div>
</body>

</html>
