<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <link href="\static\ytrec.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <form action="/ytrec" method="post">
      input: <input type="text" name="input" id = "in" placeholder = ""><br>
      <button id = "button" type = "submit">enter a youtube link here</button>
    </form>


  
    <span>{{ output }}</span>
    <script src="script.js">
    </script>
  </body>

</html>